Xcode_Project_Files
Debug/*
.idea/*
CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
cmake-build-debug
Makefile
Engine
Engine.cbp
data/*
src/main.cpp
data/main.lua
Games/Labyrinth/

\.projectile

include/lua/\.DS_Store

\.DS_Store

Games/Pong/

include/Selene/\.travis\.yml
